@model IEnumerable<VotingApp.Areas.Identity.Data.TVshow>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id="tvshowbg">
    <h1 >LIST OF REVIEWS</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table id="myTable" class="table table-hover">
        <thead>
            <tr>
                <th>
                    <a>Image</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShowName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reviewer)
                </th>
                <th id="revw">
                    @Html.DisplayNameFor(model => model.Review)
                </th>
                <th id="ratew">
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                @*<th>
            @Html.DisplayNameFor(model => model.ShowImg)
        </th>*@

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img src="@("~/Image/"+item.ShowImg)" asp-append-version="true" height="120" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowName)
                </td>
                <td >
                    @Html.DisplayFor(modelItem => item.Reviewer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Review)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Rating)*@
                    @for(int i = 0; i <item.Rating; i++)
                    {
                        <span id="checked" class="fa fa-star"></span>
                    }
                    @for(int i = item.Rating;i<5; i++)
                    {
                        <span class="fa fa-star"></span>
                    }
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.ShowImg)
        </td>*@

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <footer id="footerrel"></footer>
</body>